<p>
  <strong>Arquivo:</strong>
  <%= link_to @importation.file_url, @importation.file_url, target: '_blank' %>
</p>

<p>
  <strong>Criado em:</strong>
  <%= l(@importation.created_at, format: :long) %>
</p>

<br/>
<hr/>
<br/>

<h4>Vendas</h4>
<h5 class="right">Total: <%= money(@importation.total_mount) %></h5>

<%= render 'sales/list', sales: @sales %>

<br/>
<%= link_to t('views.form.actions.back'), :back %>
