<%= form_for(@buyer) do |form| %>

  <% if @buyer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buyer.errors.count, "error") %>:</h2>
      <ul>
        <% @buyer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s6">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  </div>

  <div class="row">
    <%= form.submit t('views.form.actions.submit'), class: 'waves-effect waves-light btn' %>
  </div>
<% end %>